
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .footer {
      background-color: #a18c8c;
      color: #fff;
      text-align: center;
      padding: 20px;
      position: relative;
    }

    .copyright {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .payment-icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .payment-icon {
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }
  </style>


<div class="footer">
  <div class="copyright">
    <p> Copyright &copy; 2024 Accu Neutraal</p>
  </div>

  <div class="payment-icons">
    <img class="payment-icon" src="https://icons-for-free.com/download.php?icon_download=payment+shopping+visa+icon-1320136412867915956&size=128&type=png&m=1707576375" alt="Fake Payment Method 1">
    <img class="payment-icon" src="https://icons-for-free.com/download.php?icon_download=money+payment+paypal+shopping+icon-1320136408643512985&size=128&type=png&m=1707576756" alt="Fake Payment Method 2">
    <img class="payment-icon" src="https://icons-for-free.com/download.php?icon_download=cash+checkout+credit+payoneer+icon-1320162631195543162&size=128&type=png&m=1707576580" alt="Fake Payment Method 3">
    <img class="payment-icon" src="https://icons-for-free.com/download.php?icon_download=paypal+icon-1320183248508868466&size=128&type=png&m=1707576627" alt="Fake Payment Method 4">
    <img class="payment-icon" src="https://icons-for-free.com/download.php?icon_download=money+payment+shopping+icon-1320136412372587340&size=128&type=png&m=1707576756" alt="Fake Payment Method 5">
    <img class="payment-icon" src="https://icons-for-free.com/download.php?icon_download=money+payment+shopping+wire+transfer+icon-1320136411076827621&size=128&type=png&m=1707576756" alt="Fake Payment Method 6">
  </div>
</div>



{% schema %}
    {
        "name": "footer",
        "settings": [
            {
                "type": "text",
                "id": "mobile_menu_title",
                "default": "Menu",
                "label": "Mobile Menu Title"
            },
            {
                "type": "link_list",
                "id": "menu",
                "default": "main-menu",
                "label": "Heading Navigation Menu"
                },
            {
                "type": "text",
                "id": "store_icon_url",
                "default": "https://cdn.shopify.com/s/files/1/0795/7214/0325/files/isk.jpg?v=1703936114",
                "label": "Store Icon URL"
            }
            
        ]
    }
    {% endschema %}