{% schema %}
    {
      "name": "solutions ",
      "settings": [],
      "presets": [
        {
          "name": "solutions",
          "category": "Homepage"
        }
      ]
    }
    {% endschema %}
    <div class="containerSoluotion flex flex-col items-center justify-center m-5">
        <div class=" flex flex-row flex-wrap">
            <div>SUNPRO POWER 440W - Zonnepaneel</div>
            <div>WECO 5K3 XP Thuisbatterij Lithium Module voor Duurzame Energieopslag</div>
            <div>
                <div>SOLINTEG 25-50 kW - 3 Fase Omvormer</div>
                <div>SOLINTEG 3-8 kW - Single Fase Omvormer</div>
                <div>SOLINTEG 4-20 kW - 3 Fase Omvormer</div>
            </div>
        </div>
        <div class=" flex flex-wrap justify-around m-10 border-5 border-solid border-blue-600 ">
            <div class="h-80 w-72 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform" src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/Schermafbeelding2024-02-05220329.png?v=1707168804" alt="chermafbeelding"> </div>
            <div class="h-80 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/3-8KW.6.png?v=1707167475" alt="Battery"></div>
            <div class="h-80 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/25-50KW.4.png?v=1707168127" alt="vvv"></div>
       
                
        </div>
        <div class="">
            <p>total cost is 669</p>
            
        </div>
    </div>