{% comment %} {% schema %}
    {
      "name": "solutions ",
      "settings": [],
      "presets": [
        {
          "name": "solutions",
          "category": "Homepage"
        }
      ]
    }
    {% endschema %}
    <div class="containerSoluotion flex flex-col items-center justify-center m-5 mt-20">
      <div class="flex justify-center items-center font-bold text-6xl italic mb-14">
        <p class="text-center">Our soluotions</p>
        </div>
        <div class=" flex justify-center items-center  mr-auto"> <p class=" font-bold text-xl text-center text-wrap whitespace-normal mb-5 ml-0  "> to find your soluotion follow below steps :</p>
        </div>
       
        <div class=" flex flex-row flex-wrap gap-28">
          <div class="flex flex-col">
            <div class=" flex justify-center items-center  mr-auto pl-0 "> <p class=" font-bold text-xl  text-wrap whitespace-normal mb-5 w-80  "> step one : press to choose your SUNPRO POWER from below </p>
            </div>
            <div class=" border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20  mt-0 p-10 h-20 whitespace-normal w-72 bg-blue-500"> SUNPRO POWER 440W - Zonnepaneel</div>
          </div>
          <div class="flex flex-col">
            <div class=" flex justify-center items-center  mr-auto pl-0 "> <p class=" font-bold text-xl  text-wrap whitespace-normal mb-5 w-96  "> step two : press to choose your Thuisbatterij Lithium from below</p>
            </div>
            <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20 whitespace-normal w-72 bg-blue-500 mr-20">WECO 5K3 XP Thuisbatterij Lithium Module voor Duurzame Energieopslag</div>
            </div>
            <div class="flex flex-col">
              <div class=" flex justify-center items-center mr-auto pl-0 "> <p class=" font-bold text-xl  text-wrap whitespace-normal mb-5 w-80  "> step three : press to choose your SOLINTEG from below </p>
              </div>
            <div class="flex flex-col">
                <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-5 mt-0 p-10 h-20 w-52">SOLINTEG 25-50 kW - 3 Fase Omvormer</div>
                <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-5 mt-0 p-10 h-20 w-52">SOLINTEG 3-8 kW - Single Fase Omvormer</div>
                <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-5 mt-0 p-10 h-20 w-52">SOLINTEG 4-20 kW - 3 Fase Omvormer</div>
            </div>
            </div>
        </div>
        <div class=" flex flex-wrap justify-around m-5 border-5 border-solid border-blue-600 gap-5 ">
            <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full object-contain  transition duration-1000 ease-in-out hover:scale-105 transform" src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/Schermafbeelding2024-02-05220329.png?v=1707168804" alt="chermafbeelding"> </div>
            <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full  object-contain transition duration-1000 ease-in-out hover:scale-105 transform"src="//accuneutraal.nl/cdn/shop/files/5k3XpfrotWhite_medium.png?v=1706200761" alt="vvv"></div>
            <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/3-8KW.6.png?v=1707167475" alt="Battery"></div>       
        </div>
        <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20">
            <p text-xl font-bold  >total cost is 669</p>
            
        </div>
    </div> {% endcomment %}
{% comment %} ############################################################################ {% endcomment %}

{% comment %}
  Your commented-out code...
{% endcomment %}

{% schema %}
  {
    "name": "solutions",
    "settings": [
      {
        "type": "product",
        "label": "Select Product for Anchor1",
        "id": "product_anchor1"
      }
    ],
    "presets": [
      {
        "name": "solutions",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}

<div class="containerSoluotion flex flex-col items-center justify-center m-5 mt-20">
  <div class="flex justify-center items-center font-bold text-6xl italic mb-14">
    <p class="text-center">Our solutions</p>
  </div>
  <div class="flex justify-center items-center mr-auto">
    <p class="font-bold text-xl text-center text-wrap whitespace-normal mb-5 ml-0">
      To find your solution follow the below steps:
    </p>
  </div>

  <div class="flex flex-row flex-wrap gap-28">
    <!-- Step One -->
    <div class="flex flex-col">
      <div class="flex justify-center items-center mr-auto pl-0">
        <p class="font-bold text-xl text-wrap whitespace-normal mb-5 w-80">
          Step one: press to choose your SUNPRO POWER from below
        </p>
      </div>
      <div id="anchor1" class="selectable border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20 whitespace-normal w-72">
        SUNPRO POWER 440W - Zonnepaneel
      </div>
    </div>

    <!-- Step Two -->
    <div class="flex flex-col">
      <div class="flex justify-center items-center mr-auto pl-0">
        <p class="font-bold text-xl text-wrap whitespace-normal mb-5 w-96">
          Step two: press to choose your Thuisbatterij Lithium from below
        </p>
      </div>
      <div id="anchor2" class="selectable border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20 whitespace-normal w-72">
        WECO 5K3 XP Thuisbatterij Lithium Module voor Duurzame Energieopslag
      </div>
    </div>

    <!-- Step Three -->
    <div class="flex flex-col">
      <div class="flex justify-center items-center mr-auto pl-0">
        <p class="font-bold text-xl text-wrap whitespace-normal mb-5 w-80">
          Step three: press to choose your SOLINTEG from below
        </p>
      </div>
      <div class="flex flex-col">
        <div id="anchor3" class="selectable border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-5 mt-0 p-10 h-20 w-52">
          SOLINTEG 25-50 kW - 3 Fase Omvormer
        </div>
        <div id="anchor4" class="selectable border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-5 mt-0 p-10 h-20 w-52">
          SOLINTEG 3-8 kW - Single Fase Omvormer
        </div>
        <div id="anchor5" class="selectable border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-5 mt-0 p-10 h-20 w-52">
          SOLINTEG 4-20 kW - 3 Fase Omvormer
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap justify-around m-5 border-5 border-solid border-blue-600 gap-5">
    <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600">
      <img id="photo1" class="w-full h-full object-contain transition duration-1000 ease-in-out hover:scale-105 transform" src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/Schermafbeelding2024-02-05220329.png?v=1707168804" alt="photo1">
    </div>
    <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600">
      <img id="photo2" class="w-full h-full object-contain transition duration-1000 ease-in-out hover:scale-105 transform" src="//accuneutraal.nl/cdn/shop/files/5k3XpfrotWhite_medium.png?v=1706200761" alt="photo2">
    </div>
    <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600">
      <img id="photo3" class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform" src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/3-8KW.6.png?v=1707167475" alt="photo3">
    </div>
  </div>

  <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20">
    <p text-xl font-bold>Total cost is 669</p>
  </div>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the element with the ID "anchor1"
    var anchor1Element = document.getElementById("anchor1");

    // Add a click event listener to the element
    anchor1Element.addEventListener("click", function() {
      // Toggle the class "bg-blue-600" on click
      anchor1Element.classList.toggle("bg-blue-600");
    });
  });
</script>
  
</div>
