{% schema %}
    {
      "name": "solutions ",
      "settings": [],
      "presets": [
        {
          "name": "solutions",
          "category": "Homepage"
        }
      ]
    }
    {% endschema %}
    <div class="containerSoluotion flex flex-col items-center justify-center m-5">
        <div class=" flex flex-row flex-wrap">
            <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600"> SUNPRO POWER 440W - Zonnepaneel</div>
            <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20">WECO 5K3 XP Thuisbatterij Lithium Module voor Duurzame Energieopslag</div>
            <div class="flex flex-column">
                <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20">SOLINTEG 25-50 kW - 3 Fase Omvormer</div>
                <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20">SOLINTEG 3-8 kW - Single Fase Omvormer</div>
                <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20">SOLINTEG 4-20 kW - 3 Fase Omvormer</div>
            </div>
        </div>
        <div class=" flex flex-wrap justify-around m-5 border-5 border-solid border-blue-600 gap-5 ">
            <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full object-contain  transition duration-1000 ease-in-out hover:scale-105 transform" src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/Schermafbeelding2024-02-05220329.png?v=1707168804" alt="chermafbeelding"> </div>
            <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full  object-contain transition duration-1000 ease-in-out hover:scale-105 transform"src="//accuneutraal.nl/cdn/shop/files/5k3XpfrotWhite_medium.png?v=1706200761" alt="vvv"></div>
            <div class="h-80 w-96 overflow-hidden border-4 border-solid border-blue-600"><img class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"src="https://cdn.shopify.com/s/files/1/0784/5507/9254/files/3-8KW.6.png?v=1707167475" alt="Battery"></div>       
        </div>
        <div class="border-4 border-yellow-300 rounded-3xl border-solid flex justify-center items-center mb-20 mt-0 p-10 h-20">
            <p text-xl font-bold  >total cost is 669</p>
            
        </div>
    </div>