{% schema %}
  {
    "name": "Homepage2 ",
    "settings": [],
    "presets": [
      {
        "name": "blue_first_part2",
        "category": "Homepage"
      }
    ]
  }
  {% endschema %}
  
  <div class="testimonials-section">
 all is good
  </div>
  